@model ProjectFirstSteps.Models.MakingPublications

	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>MakingPublications</h4>
                <hr />
            </div>

			<div class="modal-body">
				<div class="row">
                    <div class="col-md-12">
                      <form asp-action="Create" asp-controller="MakingPublications">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="message.libelle" class="control-label"></label>
                            <textarea asp-for="message.libelle" class="form-control"></textarea>
                            <span asp-validation-for="message.libelle" class="text-danger"></span>

                            <input type="hidden" asp-for="message.nomRessource" class="form-control" value="Messages" />
                            <span asp-validation-for="message.nomRessource" class="text-danger"></span>
                        
                        </div>
                        <div class="form-group">
                            <label asp-for="lien.Url" class="control-label"></label>
                            <input type="url" asp-for="lien.Url" class="form-control" />
                            <span asp-validation-for="lien.Url" class="text-danger"></span>

                            <input type="hidden" asp-for="lien.nomRessource" class="form-control" value="Url" />
                            <span asp-validation-for="lien.nomRessource" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="photoVideo.taille" class="control-label"></label>
                            <input asp-for="photoVideo.taille" class="form-control" />
                            <span asp-validation-for="photoVideo.taille" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="publication.Membre" class="control-label"></label>
                            <input type="hidden" asp-for="publication.Membre" class="form-control" />
                            <span asp-validation-for="publication.Membre" class="text-danger"></span>
                        </div>*@
                        
                        @*<div class="form-group">
                            <label asp-for="publication.dateDePublication" class="control-label"></label>
                            <input type="hidden" asp-for="publication.dateDePublication" class="form-control" />
                            <span asp-validation-for="publication.dateDePublication" class="text-danger"></span>
                        </div>*@
                        <div class="form-group">
                            <label asp-for="photoVideo.formFile" class="control-label"></label>
                            <input asp-for="photoVideo.formFile" type="file" multiple class="form-control" />
                            <span asp-validation-for="photoVideo.formFile" class="text-danger"></span>

                            
                            <input type="hidden" asp-for="photoVideo.nomRessource" class="form-control" value="photoVideo" />
                            <span asp-validation-for="photoVideo.nomRessource" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                      </form>  
                    </div>
                </div>
			</div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                </div>
            

			
		</div>
	</div>








@*<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Publish">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="message.libelle" class="control-label"></label>
                <input asp-for="message.libelle" class="form-control" />
                <span asp-validation-for="message.libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lien.Url" class="control-label"></label>
                <input type="url" asp-for="lien.Url" class="form-control" />
                <span asp-validation-for="lien.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photoVideo.taille" class="control-label"></label>
                <input asp-for="photoVideo.taille" class="form-control" />
                <span asp-validation-for="photoVideo.taille" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photoVideo.formFiles" class="control-label"></label>
                <input asp-for="photoVideo.formFiles" type="file" multiple class="form-control" />
                <span asp-validation-for="photoVideo.formFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

