@{
    ViewData["Title"] = "Home Page";
}

				<div class="left">
					<a href="" class="profile">
						<div class="profile-picture">
							<img src="~/Medias/Images/PhotoProfil/pic1.png" alt="">
						</div>
						<div class="handle">
							<h4>Marie Mar</h4>
							<p class="text-muted">
								Marie
							</p>
						</div>
					</a>

					<div class="sidebar">
						<a class="menu-item active">
							<span><i class="uil uil-home"></i></span><h3>Acceuil</h3>
						</a>
						<a class="menu-item">
							<span><i class="uil uil-users-alt"></i></span><h3>Amis</h3>
						</a>
						<a class="menu-item" id="notifications">
							<span><i class="uil uil-bell"><small class="notification-count">9+</small></i></span><h3>Notifications</h3>
							<div class="notifications-popup">
								<div>
									<div class="profile-picture">
										<img src="~/Medias/Images/PhotoProfil/pic3.png" alt="">
									</div>
									<div class="notification-body">
										<b>Samuel R</b> accepted your friend request
										<small class="text-muted">1 hour ago</small>
									</div>
								</div>
								<div>
									<div class="profile-picture">
										<img src="~/Medias/Images/PhotoProfil/pic4.png" alt="">
									</div>
									<div class="notification-body">
										<b>Nick Larson</b> accepted your friend request
										<small class="text-muted">1 day ago</small>
									</div>
								</div>
								<div>
									<div class="profile-picture">
										<img src="~/Medias/Images/PhotoProfil/pic4png" alt="">
									</div>
									<div class="notification-body">
										<b>Ava Max</b> accepted your friend request
										<small class="text-muted">2 days ago</small>
									</div>
								</div>
							</div>
							
						</a>
						<a class="menu-item" id="messages-notifications">
							<span><i class="uil uil-envelope-alt"><small class="notification-count">3</small></i></span><h3>Messages</h3>
						</a>
						<a class="menu-item" id="theme">
							<span><i class="uil uil-palette"></i></span><h3>Theme</h3>
						</a>
						<a class="menu-item">
							<span><i class="uil uil-setting"></i></span><h3>Settings</h3>
						</a>
							
					</div>
					<label for="create-post" class="btn btn-primary">Create Post</label>
				</div>

				<div class="middle">
					<form class="create-post">
						<div class="profile-picture">
							<img alt="" src="~/Medias/Images/PhotoProfil/pic2.jpg">
						</div>
						<input type="text" placeholder="What's new?" id="create-post">
						<input type="submit" value="post" class="btn btn-primary">
					</form>

					<div class="feeds">
						<!-------FEED 1------->
						<div class="feed">
							<div class="head">
								<div class="user">
									<div class="profile-picture">
										<img src="~/Medias/Images/PhotoProfil/pic4.png" alt="">
									</div>
									<div class="ingo">
										<h3>Baby Boss</h3>
										<small>Dubai, 15 minutes ago</small>
									</div>
								</div>
								<span class="edit">
									<i class="uil uil-ellipsis-h"></i>
								</span>
							</div>
							<div class="photo">
								<img alt="" src="~/Medias/Publications/drink-g96c5951a9_1920.jpg">
							</div>
							<div class="action-button">
								<div class="interaction-buttons">
									<span><i class="uil uil-heart"></i></span>
									<span><i class="uil uil-comment-dots"></i></span>
									<span><i class="uil uil-share-alt"></i></span>
								</div>
								<div class="bookmarks">
									<span><i class="uil uil-bookmark-full"></i></span>
								</div>
							</div>
							<div class="liked-by">
								<span><img src="~/Medias/Images/PhotoProfil/pic1.png"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic2.jpg"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic3.png"></span>
								<p>Liked by <b>ErnesArnold</b> and <b>2,450 others</b></p>
							</div>
							<div class="caption">
								<p><b>Alfred 06</b> Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Illum...</p>
							</div>
							<div class="comments text-muted">View all 276 comments</div>
						</div>
						<!-------------END OF FEED---------->

						<!-------FEED 2------->
						<div class="feed">
							<div class="head">
								<div class="user">
									<div class="profile-picture">
										<img src="~/Medias/Images/PhotoProfil/pic3.png" alt="">
									</div>
									<div class="ingo">
										<h3>Windows</h3>
										<small>Washington, 25 minutes ago</small>
									</div>
								</div>
								<span class="edit">
									<i class="uil uil-ellipsis-h"></i>
								</span>
							</div>
							<div class="photo">
								<img alt="" src="~/Medias/Publications/drop-of-water-g806ce0d57_1920.jpg">
							</div>
							<div class="action-button">
								<div class="interaction-buttons">
									<span><i class="uil uil-heart"></i></span>
									<span><i class="uil uil-comment-dots"></i></span>
									<span><i class="uil uil-share-alt"></i></span>
								</div>
								<div class="bookmarks">
									<span><i class="uil uil-bookmark-full"></i></span>
								</div>
							</div>
							<div class="liked-by">
								<span><img src="~/Medias/Images/PhotoProfil/pic1.png"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic2.jpg"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic3.png"></span>
								<p>Liked by <b>ErnesArnold</b> and <b>2,450 others</b></p>
							</div>
							<div class="caption">
								<p><b>Alfred 06</b> Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Illum...</p>
							</div>
							<div class="comments text-muted">View all 1016 comments</div>
						</div>
						<!-------------END OF FEED---------->

						<!-------FEED 3------->
						<div class="feed">
							<div class="head">
								<div class="user">
									<div class="profile-picture">
										<img src="~/Medias/Images/PhotoProfil/pic1.png" alt="">
									</div>
									<div class="ingo">
										<h3>Ester M</h3>
										<small>Lome, 1 hour ago</small>
									</div>
								</div>
								<span class="edit">
									<i class="uil uil-ellipsis-h"></i>
								</span>
							</div>
							<div class="photo">
								<img alt="" src="~/Medias/Publications/frogs-gd0699cebd_1920.jpg">
							</div>
							<div class="action-button">
								<div class="interaction-buttons">
									<span><i class="uil uil-heart"></i></span>
									<span><i class="uil uil-comment-dots"></i></span>
									<span><i class="uil uil-share-alt"></i></span>
								</div>
								<div class="bookmarks">
									<span><i class="uil uil-bookmark-full"></i></span>
								</div>
							</div>
							<div class="liked-by">
								<span><img src="~/Medias/Images/PhotoProfil/pic1.png"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic2.jpg"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic3.png"></span>
								<p>Liked by <b>ErnesArnold</b> and <b>2,450 others</b></p>
							</div>
							<div class="caption">
								<p><b>Alfred 06</b> Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Illum...</p>
							</div>
							<div class="comments text-muted">View all 120 comments</div>
						</div>
						<!-------------END OF FEED---------->

						<!-------FEED 4------->
						<div class="feed">
							<div class="head">
								<div class="user">
									<div class="profile-picture">
										<img src="~/Medias/Images/PhotoProfil/pic2.jpg" alt="">
									</div>
									<div class="ingo">
										<h3>Navi Seal</h3>
										<small>Paris, 1 hour ago</small>
									</div>
								</div>
								<span class="edit">
									<i class="uil uil-ellipsis-h"></i>
								</span>
							</div>
							<div class="photo">
								<img alt="" src="~/Medias/Publications/christmas-tree-gb0305b9c9_1280.jpg">
							</div>
							<div class="action-button">
								<div class="interaction-buttons">
									<span><i class="uil uil-heart"></i></span>
									<span><i class="uil uil-comment-dots"></i></span>
									<span><i class="uil uil-share-alt"></i></span>
								</div>
								<div class="bookmarks">
									<span><i class="uil uil-bookmark-full"></i></span>
								</div>
							</div>
							<div class="liked-by">
								<span><img src="~/Medias/Images/PhotoProfil/pic3.png"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic2.jpg"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic1.png"></span>
								<p>Liked by <b>ErnesArnold</b> and <b>2,450 others</b></p>
							</div>
							<div class="caption">
								<p><b>Alfred 06</b> Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Illum...</p>
							</div>
							<div class="comments text-muted">View all 555 comments</div>
						</div>
						<!-------------END OF FEED---------->

						<!-------FEED 5------->
						<div class="feed">
							<div class="head">
								<div class="user">
									<div class="profile-picture">
										<img src="~/Medias/Images/PhotoProfil/pic4.png" alt="">
									</div>
									<div class="ingo">
										<h3>Baby Boss</h3>
										<small>Accra, 2 hours ago</small>
									</div>
								</div>
								<span class="edit">
									<i class="uil uil-ellipsis-h"></i>
								</span>
							</div>
							<div class="photo">
								<img alt="" src="~/Medias/Publications/java-bge-600x315.jpg">
							</div>
							<div class="action-button">
								<div class="interaction-buttons">
									<span><i class="uil uil-heart"></i></span>
									<span><i class="uil uil-comment-dots"></i></span>
									<span><i class="uil uil-share-alt"></i></span>
								</div>
								<div class="bookmarks">
									<span><i class="uil uil-bookmark-full"></i></span>
								</div>
							</div>
							<div class="liked-by">
								<span><img src="~/Medias/Images/PhotoProfil/pic1.png"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic2.jpg"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic3.png"></span>
								<p>Liked by <b>ErnesArnold</b> and <b>2,450 others</b></p>
							</div>
							<div class="caption">
								<p><b>Alfred 06</b> Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Illum...</p>
							</div>
							<div class="comments text-muted">View all 3000 comments</div>
						</div>
						<!-------------END OF FEED---------->

						<!-------FEED 6------->
						<div class="feed">
							<div class="head">
								<div class="user">
									<div class="profile-picture">
										<img src="~/Medias/Images/PhotoProfil/pic3.png" alt="">
									</div>
									<div class="ingo">
										<h3>Baby Boss</h3>
										<small>Lorient, 2 hours ago</small>
									</div>
								</div>
								<span class="edit">
									<i class="uil uil-ellipsis-h"></i>
								</span>
							</div>
							<div class="photo">
								<img alt="" src="~/Medias/Publications/girl-g89926c8f7_1920.jpg">
							</div>
							<div class="action-button">
								<div class="interaction-buttons">
									<span><i class="uil uil-heart"></i></span>
									<span><i class="uil uil-comment-dots"></i></span>
									<span><i class="uil uil-share-alt"></i></span>
								</div>
								<div class="bookmarks">
									<span><i class="uil uil-bookmark-full"></i></span>
								</div>
							</div>
							<div class="liked-by">
								<span><img src="~/Medias/Images/PhotoProfil/pic1.png"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic4.png"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic2.jpg"></span>
								<p>Liked by <b>ErnesArnold</b> and <b>2,450 others</b></p>
							</div>
							<div class="caption">
								<p><b>Alfred 06</b> Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Illum...</p>
							</div>
							<div class="comments text-muted">View all 100 comments</div>
						</div>
						<!-------------END OF FEED---------->

						<!-------FEED 7------->
						<div class="feed">
							<div class="head">
								<div class="user">
									<div class="profile-picture">
										<img src="~/Medias/Images/PhotoProfil/pic2.jpg" alt="">
									</div>
									<div class="ingo">
										<h3>Baby Boss</h3>
										<small>Morocco, 3 hours ago</small>
									</div>
								</div>
								<span class="edit">
									<i class="uil uil-ellipsis-h"></i>
								</span>
							</div>
							<div class="photo">
								<img alt="" src="~/Medias/Publications/FB_IMG_15977670256238341.jpg">
							</div>
							<div class="action-button">
								<div class="interaction-buttons">
									<span><i class="uil uil-heart"></i></span>
									<span><i class="uil uil-comment-dots"></i></span>
									<span><i class="uil uil-share-alt"></i></span>
								</div>
								<div class="bookmarks">
									<span><i class="uil uil-bookmark-full"></i></span>
								</div>
							</div>
							<div class="liked-by">
								<span><img src="~/Medias/Images/PhotoProfil/pic1.png"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic2.jpg"></span>
								<span><img src="~/Medias/Images/PhotoProfil/pic3.png"></span>
								<p>Liked by <b>ErnesArnold</b> and <b>2,450 others</b></p>
							</div>
							<div class="caption">
								<p><b>Alfred 06</b> Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Illum...</p>
							</div>
							<div class="comments text-muted">View all 10023 comments</div>
						</div>
						<!-------------END OF FEED---------->

					</div>
				</div>
				<div class="right">
					<div class="messages">
						<div class="heading">
							<h4>Messages</h4><i class="uil uil-edit"></i>
						</div>
						<div class="search-bar">
							<i class="uil uil-search"></i>
							<input type="search" placeholder="Search Messages" id="message-search">
						</div>
						<div class="category">
							<h6 class="active">Primary</h6>
							<h6>General</h6>
							<h6 class="message-requests">Request(7)</h6>
						</div>
						<div class="message">
							<div class="profile-picture">
								<img src="~/Medias/Images/PhotoProfil/pic4.png" alt="">
								<div class="active"></div>
							</div>
							<div class="message-body">
								<h5>Edem Quist</h5>
								<p class="text-muted">Juste woke up man</p>
							</div>
						</div>
						<div class="message">
							<div class="profile-picture">
								<img src="~/Medias/Images/PhotoProfil/pic1.png" alt="">
								<div class="active"></div>
							</div>
							<div class="message-body">
								<h5>J Martins</h5>
								<p class="text-muted">Thanks you bro✌</p>
							</div>
						</div>
						<div class="message">
							<div class="profile-picture">
								<img src="~/Medias/Images/PhotoProfil/pic3.png" alt="">
								<div class="active"></div>
							</div>
							<div class="message-body">
								<h5>Irai Aoro</h5>
								<p class="text-muted">Hi,😙 how are you doing?</p>
							</div>
						</div>
						<div class="message">
							<div class="profile-picture">
								<img src="~/Medias/Images/PhotoProfil/pic4.png" alt="">
								<div class="active"></div>
							</div>
							<div class="message-body">
								<h5>Grid Swallow</h5>
								<p class="text-muted">Happy Birthday man!😎</p>
							</div>
						</div>
						<div class="message">
							<div class="profile-picture">
								<img src="~/Medias/Images/PhotoProfil/pic2.jpg" alt="">
								<div class="active"></div>
							</div>
							<div class="message-body">
								<h5>Edwige Blitz</h5>
								<p class="text-muted">Ara Ara!😊</p>
							</div>
						</div>
					</div>

					<div class="friend-requests">
						<h4>Requests</h4>
						<div class="request">
							<div class="info">
								<div class="profile-picture">
									<img alt="" src="~/Medias/Images/PhotoProfil/pic2.jpg">
								</div>
								<div>
									<h5>Tony Stark</h5>
									<p class="text-muted">8 mutual friends</p>
								</div>
							</div>
							<div class="action">
								<button class="btn btn-primary">Accept</button>
								<button class="btn">Refuse</button>
							</div>
						</div>

						<div class="request">
							<div class="info">
								<div class="profile-picture">
									<img alt="" src="~/Medias/Images/PhotoProfil/pic3.png">
								</div>
								<div>
									<h5>Naira Romakono</h5>
									<p class="text-muted">12 mutual friends</p>
								</div>
							</div>
							<div class="action">
								<button class="btn btn-primary">Accept</button>
								<button class="btn">Refuse</button>
							</div>
						</div>

						<div class="request">
							<div class="info">
								<div class="profile-picture">
									<img alt="" src="~/Medias/Images/PhotoProfil/pic1.png">
								</div>
								<div>
									<h5>Shrek Shrek</h5>
									<p class="text-muted">6 mutual friends</p>
								</div>
							</div>
							<div class="action">
								<button class="btn btn-primary">Accept</button>
								<button class="btn">Refuse</button>
							</div>
						</div>

					</div>
				</div>