@{
    ViewData["Title"] = "Bienvenue sur NetAtlas";
}
<h1 style="color:violet">@ViewData["Title"]</h1>

<p>Votre inscription a été effectuée avec succes.</p>
<p>Vous pourrez vous connecter dès qu'elle aura été validée.</p>