@{
    ViewData["Title"] = "Bienvenue sur NetAtlas";
}
<div class="left"></div>
<div class="middle">
<h1 style="color:violet">@ViewData["Title"]</h1>

<p>Votre inscription a été effectuée avec succes.</p>
<p>Vous pourrez vous connecter dès qu'elle aura été validée.</p>
</div>

<style>
p {
    font-size: 18px;
}
</style>